<ion-pane ng-controller="AppCtrl">
  <ion-header-bar id="header" class="bar bar-assertive">
    <a ng-href="#/main" class="button icon-left ion-home"></a>
    <h1 class="title title-center">{{ appName }}</h1>
    <a href="#/about" class="others"><img src="img/question-funny.png" alt="" width="40" height="40" /></a>
  </ion-header-bar>
  <ion-content>
    <ion-nav-view></ion-nav-view>
    <ion-list>
	    <div class="list card">
		 	<div class="item item-avatar">
			    <img src="img/app-icon.png">
			    <h2>English Jokes</h2>
			    <p>Version 1.0</p>
		  	</div>
			<div class="item item-body">
				<p>
			      This application help you relax with a collection of jokes.
			      With over 1000 jokes and keep to be updated.
			    </p>
			    <p>Many jokes in many categories:</p>
			    <ul>
			    	<li>Animal Jokes</li>
					<li>Bar Jokes</li>
					<li>Blonde Jokes</li>
					<li>Celebrity Jokes</li>
					<li>Dirty Jokes</li>
					<li>Ethnic Jokes</li>
					<li>Holiday Jokes</li>
					<li>Knock Knock Jokes</li>
					<li>Insult Jokes</li>
					<li>Lawyer Jokes</li>
					<li>Marriage Jokes</li>
					<li>Money Jokes</li>
					<li>School Jokes</li>
					<li>Work Jokes</li>
					<li>Technology Jokes</li>
					<li>Travel Jokes</li>
					<li>Religious Jokes</li>
					<li>Sports Jokes</li>
					<li>Girl Jokes</li>
					<li>Boy Jokes</li>
			    </ul>
			    <br>
			    <p>Copyright &copy; 2016 <br> Developed By Virgo Studio</p>
			</div>
    </ion-list>
  </ion-content>
</ion-pane>


 