/*---------------------------------------
  01- Override
----------------------------------------*/
a.button .icon:before, a.button.icon:before, a.button.icon-left:before, a.button.icon-right:before {
	margin-top: 0;
}
.bar a.button {
	line-height: 45px;
}
.bar a.button.icon-left:before,
.bar a.button.icon-right:before {
	line-height: 45px;
}

/*---------------------------------------
  02- Mixin & Variables
----------------------------------------*/

/*  Global variables
----------------------------------------*/
$font-stack: Helvetica, sans-serif;
$bar-color: #524C56;
$bar-height: 60px;
$bar-text-color: #FFC600;
$base-color: #f2e3cc;
$item-text-color: #09373F;
$item-base-color: #ffffff;
$item-border-color: #0F7983;
$item-detail-color: #0D1516;
$item-title-color: #c3cc30;
$item-head-fz: 132%;
$item-base-fz: 108%;
$item-lh: 1.5;
$item-text-lh: 1.6;

/*  Global mixin
----------------------------------------*/
@mixin heading-font-regular {
	font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;;
}
@mixin center-content {
	margin: 0 auto;
}
@mixin set-border-radius ($radius) {
  border-radius: $radius;
  webkit-border-radius: $radius;
  moz-border-radius: $radius;
}

/*  Global font-face mixin
----------------------------------------*/
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
    	font-family: $font-family;
	    // src: url('#{$file-path}.eot');
	    // src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
	    //        url('#{$file-path}.woff') format('woff'),
	    //        url('#{$file-path}.ttf') format('truetype'),
	    //        url('#{$file-path}.svg##{$font-family}') format('svg');
	    src: url('#{$file-path}') format('truetype');
	    font-weight: $font-weight;
	    font-style: $font-style;
  	}
    // @media screen and (-webkit-min-device-pixel-ratio: 0) {
    // @font-face {
    //   font-family: $font-family;
    //     src: url('#{$file-path}.svg##{$font-family}') format('svg');
    // }
  	//}
}
@include font-face(SillyFont, '../fonts/sillymonkey.ttf', 300, normal);
@include font-face(SweetFont, '../fonts/sweet-cheeks.ttf', 300, normal);
@include font-face(DrawingFont, '../fonts/drawing-font.ttf', 300, normal);
@include font-face(HarrisToon, '../fonts/harristoon.ttf', 300, normal);
@include font-face(Sketchline, '../fonts/sketchline.ttf', 300, normal);
@include font-face(Scribble, '../fonts/scribble.ttf', 300, normal);

/*---------------------------------------
  03- Class build and customization
----------------------------------------*/
#header {
	background: $bar-color;
	h1 {
		font-size: 134%;
		color: $bar-text-color;
		font-family: Scribble;
		word-spacing: 5px;
	}
	&.bar {
		height: $bar-height;
		.title {
			height: $bar-height;
			line-height: $bar-height;
			right: 0!important;
			left: 0!important;
		}
	}
	.others {
		position: absolute;
    	top: 10px;
    	right: 5px;
    	bottom: 5px;
	}
}
#footer {
	background: $bar-color;
}
.bar-footer {
	height: 60px
}

.cat-style {
	.view-container,
	.pane,
	.scroll-content {
		background: $base-color;
	}
}
/*  Card Item
----------------------------------------*/
.joke-cat {
	.item-avatar {
		min-height: 55px;
		> img:first-child {
			top: 8px;
		}
	}
	
}
/*  Card Item - Detail
----------------------------------------*/
.item {
	border: none;
}
.item-body {
	padding: 8px;
}
/*  Slideshow
----------------------------------------*/
.wslider .swiper-slide img {
	width: 100%;
	height: auto;
}
.wslider {
	padding-top: 30px;
}
.swiper-button-prev, 
.swiper-button-next,
.swiper-container-rtl .swiper-button-next {
	top: initial;
	bottom: 10px;
	width: 52px;
	height: 52px;
	background-size: 52px 52px;
}
.swiper-button-prev {
	background: url("../img/button-left.png") no-repeat;
}
.swiper-button-next {
	background: url("../img/button-right.png") no-repeat;
}
.item-order {
	text-align: center;
	margin-top: 30px;
	font-size: 150%;
}
.joke-cat {
	.item {
		
	}
	.feature {
		
	}
	h2 {
		color: #63666f;
		font-size: 125%;
		font-family: Scribble;
	}
	.steps {
		font-family: Sketchline;
		font-weight: bold;
		color: #4C8CB8;
	}
}
.red-focus {
	background: #f54363;
	color: #ffffff;
}
.item-note {
	text-align: right;
}
.bar.bar-assertive {
	border-color: #615b64;
}